.declarations-container {
  .description {
    font-size: 16px;
    text-align: center;
  }

  table {
    background-color: #fff;
  }

  th {
    border: none;
    background-color: #f7f7f7;
  }

  td {
    border-color: var(--sys-surface-container);
  }

  .mat-column-select {
    text-align: center;
  }

  .button-group {
    margin: 24px 0 0 auto;
    text-align: right;

    button {
      border-radius: 10px;
      min-width: 120px;
      margin-left: 12px;
      margin-top: 12px;
    }
  }

  .button-align {
    text-align: center;
  }

  .divider {
    margin: 24px 0;
    border-color: var(--sys-outline-variant);
  }

  .action-button {
    margin: 0 4px;
  }

  .center {
    text-align: center;
  }
}
