<div class="pdf-container">
  <div class="pdf-page">
    <div class="pdf-header">
      <h1>{{ title }}</h1>
    </div>

    <div class="pdf-content">
      <p>{{ contentLines }}</p>
    </div>

    <!-- <div class="pdf-footer">
      <p>{{ footerLines }}</p>
    </div> -->

    <div class="pdf-signature">
      <p>{{ signatureLines }}</p>
    </div>

    <div class="pdf-footer-bottom">
      <p>
        Rua Francisca Júlia, nº 290 - Santana - CEP 02403-010 - São Paulo - SP - Tel.: (11) 2281.0300 - CNPJ
        02.090.452/0001-37
      </p>
      <p>{{"E-mail: adm@acnsf.org.br"}}</p>
    </div>
  </div>
</div>
