<main class="forgot-password">
  <h1>Recuperar senha</h1>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Insira seu e-mail" />
    </mat-form-field>
    <button class="button-flat" type="submit" mat-flat-button color="primary"
      [disabled]="forgotPasswordForm.invalid || isSubmitting">{{ isSubmitting ? 'Enviando...' : 'Enviar link de
      recuperação' }}</button>
  </form>

  <div class="pos-link">
    <a routerLink="/login">
      <mat-icon alt="">arrow_back</mat-icon> Voltar para login
    </a>
  </div>
</main>
